@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700;800&family=Rubik:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

:root {
    /* --bg-color: #1f242d; */
    /* --bg-color: #161513; */
    --bg-color: #000000;
    --second-bg-color: rgba(255, 255, 255, 0.105);
    --third-bg-color: rgb(25, 32, 40);
    --text-color: #fff;
    --green-color: rgb(2, 239, 99);
    --main-color: #fd5f6a;
    --main-color-gradient: #fea04f;

}

html {
    font-size: 62.5%;
    overflow-x: hidden;

}

body {
    background: var(--bg-color);
    color: var(--text-color);
    overflow-x: hidden;
}


body::-webkit-scrollbar {
    width: .5rem;

}

body::-webkit-scrollbar-track {
    background: var(--second-bg-color);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-radius: 1rem;
}

h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3rem;
}

h2 {
    font-size: 4.6rem;
    font-weight: 700;
    /* line-height: 3.3rem; */
}

h3 {
    font-size: 3.2rem;
    font-weight: 700;
    /* margin: .7rem; */
}

h4 {
    font-size: 2.2rem;
    font-weight: 700;
    /* margin: .7rem; */
}

h5 {
    font-size: 1.2rem;
    font-weight: 700;
    /* margin: .7rem; */
}

p {
    font-size: 1.6rem;
}

.flexrow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexcolumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textGradient {

    background-image: linear-gradient(to right, var(--main-color), var(--main-color-gradient));
    background-clip: text;
    color: transparent;

}

section {
    /* min-height: 100vh; */
    padding: 0rem 9%;
    margin: 2rem 0;
}

.linkFlags {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-right: 2rem;
    position: fixed;
    bottom: 0;
    left: 30px;
    align-items: center;
    z-index: 20;
}

.linkFlags i {
    font-size: 3rem;
    color: white;
}

@keyframes floatUpDown {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

@keyframes bounceUpDown {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-20px);
    }

    60% {
        transform: translateY(-10px);
    }
}


.linkFlags i:hover {
    animation: floatUpDown 1s ease-in-out infinite;

}

.linkFlags .bxl-github:hover {
    color: var(--main-color-gradient);
}

.linkFlags .bxl-linkedin:hover {

    color: rgb(0, 118, 179);
}

.linkFlags .bxl-instagram:hover {
    color: rgb(245, 32, 154);
}

.linkFlags .bxl-twitter:hover {
    color: rgb(0, 140, 255);
}

.linkFlags .bxl-gmail:hover {
    color: rgb(12, 255, 12);
}

.linkFlags div {
    border-left: .1px solid white;
    /* background-color: white; */
    height: 200px;
    width: 0;
}

.btn {

    background: linear-gradient(to right, var(--main-color), var(--main-color-gradient));
    font-size: 1.3rem;
    width: fit-content;
    padding: .75rem 1rem;
    border-radius: 1rem;
    color: var(--bg-color);

    font-weight: 700;
    transition: all ease .5s;
}

.btn:hover {
    box-shadow: 0rem 0rem 1rem var(--main-color);
    cursor: pointer;
}

/* .btn2 {
    background: var(--bg-color);
    font-size: 1.3rem;
    width: fit-content;
    padding: .75rem 1rem;
    margin-top: 1rem;
    border-radius: 1rem;
    color: var(--main-color);
    font-weight: 500;
    border: .1rem solid var(--main-color);
    transition: all ease .5s;
} */
.btn2 i {
    background: var(--bg-color);
    font-size: 2rem;
    /* width: fit-content; */


    color: white;
    font-weight: 500;

    transition: all ease .5s;
}

.btn2 i:hover {


    cursor: pointer;
    text-shadow: 0 0 .5rem var(--main-color);
}




/* header */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background:transparent;
    backdrop-filter: blur(15px);


}


.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: pointer;
    z-index: 200;
}

.navbar {
    display: flex;
}

.navbar a {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-left: 4rem;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color-gradient);
}

.menu-box {
    font-size: 2.5rem;
    color: var(--text-color);
    display: none;
}




.crossBar {
    position: absolute;
    top: 2rem;
    right: 3rem;
    z-index: 200;
    display: none;
    font-size: 2.5rem;
}

.homeImage {
    border-bottom: 2px solid var(--main-color);
    width: fit-content;
    padding: 0;

}

.homeImage img {

    width: 30vw;


    filter: drop-shadow(.5rem .5rem .5rem var(--main-color-gradient));

}

.home {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10rem 0;
}

.homeContent {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 0rem 0;

}

.homeContent .btn {
    margin-top: 5rem !important;
}

.homeContent h3 {
    font-size: 2rem;
    font-weight: 700;

}

.resumeBtn {
    margin-top: 2.5rem;
}

.homeContent h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3rem;
}

.homeContent .mainLine {
    font-size: 2.5rem;
    font-weight: 600;
    margin: 1rem 0;
    color: rgb(150, 150, 150);
}

.homeContent p {
    font-size: 1.5rem;
    color: rgb(150, 150, 150);
    /* font-weight: 600; */
}

.homeContent .code {
    color: var(--green-color);
}

.highlightHeading {
    color: var(--main-color-gradient);
    text-shadow: 0rem 0rem .3rem var(--main-color);
}

.socialMedia a {
    /* display: inline-flex; */
    display: none;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background: transparent;
    border: 0.1rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 1.5rem 1.5rem 1.5rem 0;
    /* margin: 1rem; */
    transition: all ease .5s;
}

.socialMedia a:hover {
    color: var(--bg-color);
    background-color: var(--main-color-gradient);
    box-shadow: .1rem .1rem 1rem var(--main-color);
}


/* about */


.headingPosition {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    margin-bottom: 10rem;
    padding-bottom: 10rem;
    position: relative;
    top: 5rem;
    width: 80vw;
}

.heading {
    margin: 0;
    -webkit-text-stroke: 2px var(--main-color-gradient);
    color: transparent;
    font-size: 8rem;
    position: absolute;

    text-align: center;
    /* Center text horizontally */
}

.headingBottom {
    font-size: 10rem;
    position: absolute;
    top: 40px;
    width: 100%;
    text-align: center;
    /* Center text horizontally */
}

/* .projectVideo img {
    height: 25rem;
    margin: .5rem;
} */

.aboutContent {
    display: flex;
    flex-direction: column;
    gap: 3rem;

}

.aboutContentNew p {
    color: rgb(150, 150, 150);
    font-size: 2rem;
    font-weight: 600;
    margin: 5rem;
    width: 80%;
}

.homepage {
    display: flex;
    gap: 10rem;
    flex-direction: column;
}

.aboutBoxContainer {
    gap: 3rem;
    margin: 5rem;
}

.aboutBox {
    border: .1rem solid var(--second-bg-color);
    padding: 3rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    width: 20rem;
    transition: all ease .3s;
}

.aboutBox i {
    font-size: 3rem;
}

.aboutBox:hover {
    box-shadow: 0rem 0rem 1rem var(--main-color);
}

.about h4 {
    margin: .5rem 0;
}

.about h5 {
    margin: .5rem 0;
    font-size: 1.5rem;
}

.whatIdo div {

    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.aboutsecButtons {
    display: flex;
    gap: 3rem;
}


/* skills  */

.skills {
    padding: 2rem 5rem 3rem 3rem;
    border: .2rem solid var(--second-bg-color);
    border-radius: 1rem;
    transition: all ease .3s
}

.skills:hover {
    box-shadow: 0rem 0rem 1rem var(--main-color);
    cursor: pointer;
}

.skills p {
    font-size: 1.5rem;
}

.skills h4 {
    font-size: 2.5rem;
    margin: 1rem 0 4rem 0;
}

.skills h5 {
    font-size: 1.5rem;
}

.skills i {
    font-size: 2rem;
    margin: 0 1rem;

}

.skillBox {
    display: flex;
    justify-content: space-between;
    width: fit-content;
}

.frontendSkills {
    display: flex;
    justify-content: space-around;
    gap: 2rem;


}

.skillDetail {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.skillBoxes {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.skillContainer {
    gap: 4rem;
    margin: 5rem 0;
}


/* service section  */



.services {
    gap: 6rem;
    position: relative;
}

.serviceHeading {
    text-align: center;
}

.serviceContainer {
    display: flex;
    gap: 2rem;

}

.serviceBox {
    gap: 2rem;
    /* border: .2rem solid var(--second-bg-color); */
    border: 1px solid var(--main-color);
    border-radius: 2rem;
    padding: 3rem;
    height: 450px;
    /* width: 325px; */
    transition: all ease .3s;
}

.serviceBox:hover {
    box-shadow: 0rem 0rem 1rem var(--main-color);

}

.serviceBox i {
    font-size: 5rem;
    margin: 1rem;
}

.serviceBox p {
    font-size: 1.4rem;
    text-align: center;
}


.services__modal {


    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    backdrop-filter: blur(5px);

    z-index: 300;
}

.serviceModalContent {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60rem;
    height: 45rem;
    border-radius: 1.5rem;
    background-color: var(--bg-color);
    color: var(--text-color);
    box-shadow: 0rem 0rem 1rem black;
    border-radius: 2rem;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 2rem;

}



.serviceModalContent .modalClose {
    font-size: 3rem;
    text-shadow: 0rem 0rem .5rem var(--main-color);
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1rem;

}



.project .modalHeading {
    text-align: center;
    margin: 1rem 0;


}

.modalContent {
    padding: 2rem;

}

.modalContent li {
    list-style: none;
    padding: 0;
    font-size: 1.4rem;
    gap: 1rem;
    display: flex;
    align-items: center;
}

.modalContent i {
    font-size: 1.5rem;
}




.serviceModalContent::-webkit-scrollbar {
    width: .5rem;

}

.serviceModalContent::-webkit-scrollbar-track {
    background: var(--second-bg-color);
}

.serviceModalContent::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-radius: 1rem;
}




/* Project Sectioin  */

.project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projectContainer {
    display: flex;
    flex-wrap: wrap;
    max-width: 90rem;
    padding: 2rem 3rem;
    margin: 0rem;
    justify-content: space-around;
}

.circles{
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: .5rem;
    /* padding-left: .25rem; */
    padding-bottom: .25rem;
}
.circles>div{
    /* background-color: white; */
    height: 1rem ;
    width: 1rem;
    
    border-radius: 1rem;
}
.circle1{
    background-color: var(--main-color);
}
.circle2{
    background-color: var(--green-color);
}
.circle3{
    background-color: var(--main-color-gradient);
}
.singleProject .line{
    width: 100%;
   background:rgb(200, 200, 200);
   /* border:  .1rem solid white; */
   height: .2px;
   margin-bottom: 1.5rem;
}
.singleProject {
    width: 35rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(155, 155, 155);
    border-radius: 2rem;
    box-shadow: 0 0 .5rem black;
    margin: 2rem 0;
    padding:1rem 2rem 2rem 2rem;
    transition: all ease .5s;
    /* overflow: hidden; */


/* From https://css.glass */
background: rgb(25, 26, 27);
border-radius: 16px;

backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(15px);
/* border: 1px solid rgba(91, 91, 91, 0.3); */


}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: .8;
    }

}

.singleProject:hover {
    border: 1px solid var(--green-color);
    animation: blink 2s ease-in-out infinite;
}

.singleProject img {
    height: 20rem;
    border-radius: 1rem;

}

.singleProject img:hover {
    box-shadow: 0 0 .5rem var(--second-bg-color);
}

.projectImage {
    height: 16rem;
    width: 31rem;
    overflow: hidden;
    border-radius: 1rem;
    display: flex;
    justify-content: center;

}

.singleProject h4 {
    font-size: 1.75rem;
    margin: 0;

}

.singleProject .btn2 {
    font-size: 1rem;
}

.projectDetail {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    /* margin: 0 0 2rem 0; */
    gap: 1.5rem;

}

.linkProject {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}



.linkProject i {
    font-size: 2rem;
    margin: .25rem;

}

.viewMore {
    width: 100%;
    display: flex;
    justify-content: right;

}

.projectName {
    display: flex;
    justify-content: space-between;
    /* width: 100%; */
    /* margin-top: 1rem; */
    align-items: center;
}

.project .githublink {
    font-size: 2.4rem;
    color: var(--text-color);
}

.project .githublink:hover {

    text-shadow: 0 0 2rem var(--main-color-gradient);

}

.linkButton {
    display: flex;
    justify-content: start;
    width: 100%;
    margin: .5rem 0 0 .2rem;
    gap: .35rem;
    flex-wrap: wrap;

}

.linkButton p {
    font-size: 1.25rem;
    font-weight: 600;
}
.techStackBorder{
    border: 1px solid var(--second-bg-color);
    background-color:var(--second-bg-color);
    box-shadow: var(--third-bg-color) 1px 1px 10px;
    border-radius: 5px;
    padding: .35rem .55rem;
}
.techStackBorder p{
    font-size: 10px;
}

.singleProject .serviceModalContent {
    width: 50rem;
    height: 53rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 2.5rem;

}

.serviceModalContent h3 {
    font-size: 2rem;
}




/* project modal  */



.projectDetailModal .desc {
    font-size: 1.3rem;
    margin: 2rem 0;
}

.projectDetailModal a {
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    color: var(--text-color);
}

.projectDetailModal a:hover {
    text-shadow: o o .5rem var(--second-bg-color);
}

.modalHeading {
    margin: 3rem 0 0 0;
    text-align: center;

}

.techUsed {
    display: flex;
    justify-content: space-between;
}

.techUsed p {
    font-size: 1.5rem;
    font-weight: 700;
}

.modalLink a {
    margin: 0rem .75rem;

}

.modalLink a:hover {
    color: var(--main-color-gradient);
    /* text-shadow: 2px 2px 10px var(--main-color-gradient) ; */
}

/* contact section  */



html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: var(--bg-color);
}

.login-box {

    width: 40rem;
    padding: 40px;
    background: var(--second-bg-color);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
    margin: 3rem 0;
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input,
textarea {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label,
.login-box .user-box textarea:valid~label {
    top: -20px;
    left: 0;
    color: var(--main-color);
    font-size: 12px;
}

.login-box form .submitOutline {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: var(--main-color);
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
}

.login-box .submitOutline:hover {
    background: var(--main-color);
    color: var(--bg-color);
    border-radius: 5px;
    box-shadow: 0 0 1rem var(--main-color);

}

.login-box .submitOutline span {
    position: absolute;
    display: block;
}

.login-box .submitOutline span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, var(--main-color-gradient));
    animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }

    50%,
    100% {
        left: 100%;
    }
}

.login-box .submitOutline span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, var(--main-color));
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }

    50%,
    100% {
        top: 100%;
    }
}

.login-box .submitOutline span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, var(--main-color));
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }

    50%,
    100% {
        right: 100%;
    }
}

.login-box .submitOutline span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, var(--main-color));
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }

    50%,
    100% {
        bottom: 100%;
    }
}

.submitForm {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}


/* footer  */


.footer {
    background: rgba(0, 0, 0, .5);
    margin: 5rem 0 0 0;
    padding: 8rem 0;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    z-index: 100;
}

.footerLinks {
    display: flex;
    gap: 3rem;
    font-size: 2rem;
    padding: 2rem;
}

.footerLinks a {

    color: var(--main-color);
}


.aboutNew {
    flex-direction: column;
    height: fit-content !important;
    margin: 0 10rem;
    border: 1px solid rgb(165, 165, 165);
    border-radius: 2rem;
    overflow: hidden;
    justify-content: flex-start;
    position: relative;
    align-items: flex-start;
}

.aboutNew .aboutSelect {

    display: flex;
    width: 100%;
    /* flex-direction: column; */
    justify-content: space-evenly;
    align-items: flex-start;

}

.aboutNew .aboutSelect div {
    padding: 1rem .5rem;

    /* border: 1px solid rgb(150, 150, 150); */
    width: 33.4%;
    display: flex;
    justify-content: center;

    color: rgb(150, 150, 150);
    transition: all ease .5s;
}

.aboutSelect div p {
    font-weight: 600;
    font-size: 1.5rem;

}

.aboutSelect div:hover {
    cursor: pointer;
    color: #ffffff;
    /* border: 1px solid white; */
    background-color: rgba(255, 255, 255, 0.105);
}

.aboutNew .aboutDetail {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 3rem;

}

.aboutDetail .abtTitle {
    position: absolute;
    top: 1rem;
    right: 2rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(150, 150, 150);
}

.activeItem {

    border-bottom: 1px solid var(--green-color);
    background-color: rgba(255, 255, 255, 0.105);
}

.activeItem p {
    color: rgb(2, 239, 99);


}

.aboutDetail .abtDesc>div {

    padding: 1.5rem 2rem 1.5rem 3rem;
    display: flex;
    flex-direction: column;
    margin: 1.5rem 0 0 0;
    gap: 1.5rem;
    border-radius: 1rem;
    font-size: 1.25rem;
}

.aboutDetail .abtDesc>div li {
    color: rgb(165, 165, 165);
}

.aboutSkills {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.aboutSkills img {
    height: 3rem;
}

.aboutSkills h3 {

    font-size: 2rem;
    margin: 1rem 0;
    color: var(--green-color);
}

.abtDesc h5 {
    margin: 1rem 0;
    font-size: 1.5rem;
    color: var(--green-color);
}

.abtDesc p {


    color: rgb(165, 165, 165);
}

.aboutSkills .skillLogos {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

}

.aboutSkills .skillLogos p {
    font-size: 1rem;

}

.aboutSkills .skillLogos>div {
    background-color: var(--second-bg-color);
    padding: 1.5rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: .5rem;
    max-width: 8.5rem;
    transition: transform 0.5s ease-in-out;
}

.aboutSkills .skillLogos>div:hover {
    box-shadow: 2px 2px 5px black;
}

.aboutDetail .abtDesc>div {
    padding: 0;
    margin: 0;
}

.aboutDetail .abtDesc>div p {
    font-size: 1.25rem;
}

.skillMain {
    margin: 2rem 15em;
}

.skillMain .headingPosition {
    width: auto;
}

@media screen and (max-width: 1080px) {

    .home {
        flex-direction: column-reverse;
    }

    .home img {
        width: 30rem;
    }

    .homeContent {
        gap: .1rem;
    }

    .homeContent h3 {
        font-size: 1.5rem;
        margin: 0;
    }

    .homeContent h2 {
        font-size: 3rem;
        margin: 0;
    }

    .homeContent h4 {
        font-size: 1.3rem;
        margin: 0;
    }

    .socialMedia a {
        display: inline-flex;
    }

    .linkFlags {
        display: none;
    }

    .homeContent h1 {
        font-size: 2.5rem;
    }

    .homeContent {
        margin: 3rem 0 0 0;
    }

    .homeContent .mainLine {
        font-size: 1.5rem;
    }

    .homeContent p {
        font-size: 1.2rem;
    }


    .headingPosition {

        margin-bottom: 5rem;
        padding-bottom: 5rem;
        position: relative;
        top: 1rem;

        width: 85vw;
    }

    .heading {
        margin: 0;
        font-size: 5rem;
        text-align: center;
        /* Center text horizontally */
    }

    .headingBottom {
        font-size: 5rem;

        top: 20px;
        width: 100%;
    }

    .singleProject img {
        height: 20rem;
        border-radius: 1rem;

    }

    .aboutContentNew p {

        font-size: 1.25rem;
        font-weight: 600;
        margin: 0;
        width: 100%;
    }

    .skillMain {
        margin: 2rem 0;
    }

    .aboutNew {
        margin: 3rem 0;

    }

    .about h2 {
        font-size: 2rem;
    }

    .header .logo {
        font-size: 1.75rem;
    }

    section {
        margin: 0;
    }

    .aboutContentNew p {
        margin: .25rem;
        padding: 0;
    }
    .aboutSelect div p {
        font-weight: 600;
        font-size: 1.25rem;
    
    }

    .aboutBoxContainer p,
    h4 {
        font-size: 1rem;
    }

    .aboutBoxContainer {
        gap: 1rem;
    }

    .aboutBox {
        margin: 0;
        padding: 1rem;
    }

    .projectVideo img {
        height: 13rem;
        margin: .5rem;
    }

    .skillContainer {
        gap: 1.5rem;
    }

    .serviceContainer {
        flex-direction: column;

    }

    .services__modal h4 {
        font-size: 2.5rem;
        margin: 0 4rem;
    }

    .serviceModalContent {
        width: 60rem;
        height: 60rem;
        /* height: fit-content; */
    }

}






@media screen and (max-width: 900px) {



    .menu-box {
        position: absolute;
        top: 2rem;
        right: 3rem;
        z-index: 200;
        display: flex;
        align-items: center;
        font-size: 2rem;
    }

    .crossBar {
        position: absolute;
        top: 2rem;
        right: 3rem;
        z-index: 200;
        display: block;
        font-size: 2.5rem;
    }

    .navbar {

        position: fixed;
        top: 0;
        left: 0;


        gap: 2rem;
        z-index: 100;
        background-color: var(--bg-color);

        display: flex;
        flex-direction: column;
        width: 100%;
        transform: translateY(-120%);
        justify-content: center;
        align-items: center;
        padding: 15rem 4rem 5rem 0;
        border-radius: 0 0 2rem 2rem;
        transition: all ease .5s;
    }

    .navbarActive {
        transform: translateY(0)
    }

    .about h4 {
        margin: .5rem 0;
        font-size: 2rem;
    }

    .whatIdo div {
        flex-direction: column;
        gap: 0;
        align-items: flex-start;
    }

    .about h5 {
        margin: .5rem 0;
        font-size: 1.25rem;
    }

    .about p {
        margin: .5rem 0;
        font-size: 1.25rem;
        text-align: left;
    }

    .aboutBox {
        width: 10rem;
    }

    .aboutBox i {
        font-size: 2rem;
    }

    .aboutBox p {
        font-size: 1rem;
    }

    .aboutBoxContainer {
        margin: 5rem 1rem;
    }

    .aboutBox h4 {
        font-size: 1rem;
    }

    .skillContainer {
        flex-direction: column;

    }

    .skills {
        padding: 3rem 3rem;
    }

    .skills p {
        font-size: 1rem;
    }

    .skills h4 {
        font-size: 1.75rem;
        margin: 1rem 0 4rem 0;
    }

    .skills h5 {
        font-size: 1.2rem;
    }

    .skills i {
        font-size: 1.5rem;
        margin: 0 1rem;

    }

    .serviceContainer h4 {
        font-size: 2rem;
    }

    .serviceModalContent {
        width: 35rem;
        max-height: 55rem;
        padding: 1rem 0;
    }

    .serviceModalContent h4 {
        font-size: 2rem;
    }

    .serviceModalContent li {
        font-size: 1rem;
    }

    .serviceModalContent .modalClose {
        top: 0;
        right: 0;
    }

    .project .modalClose {
        top: 1rem;
        right: 1rem;
    }

    .singleProject .serviceModalContent {
        width: 33rem;
        height: fit-content;

    }

    .singleProject .serviceModalContent h3 {
        font-size: 1.75rem;
    }

    .techUsed {
        display: flex;

    }

    .techUsed h4 {
        font-size: 1.5rem;
        margin: 0;
    }

    .techUsed p {
        font-size: 1rem;
    }

    .login-box {
        width: 35rem;
    }
}